.login-warp {
    max-width: 360px;
    margin: auto;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('https://gw.alipayobjects.com/zos/rmsportal/itDzjUnkelhQNsycranf.svg');
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.icon-alipay {
    background-position: -24px 0;
}

.icon-alipay:hover {
    background-position: 0 0;
}

.icon-taobao {
    background-position: -24px -24px;
}

.icon-taobao:hover {
    background-position: 0 -24px;
}

.icon-weibo {
    background-position: -24px -48px;
}

.icon-weibo:hover {
    background-position: 0 -48px;
}